body, h1, h2, p {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url("../images/netflixBackground.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.header svg {
  width: 150px;
  height: 37px;
}
.header svg path {
  fill: #e50914;
}
.header__container {
  box-sizing: border-box;
  width: 100%;
  height: 120px;
  padding: 20px 148px 0 125px;
  display: flex;
  justify-content: space-between;
  align-items: top;
  position: absolute;
  z-index: 2;
}
.header::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.header__login {
  position: relative;
}
.header__login .language-btn {
  width: 140px;
  height: 30px;
  box-sizing: border-box;
  padding-left: 30px;
  background-color: rgb(19, 17, 17);
  color: white;
  border-radius: 4px;
  border-width: 1px;
  font-size: 14px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.header__login .select-arrow {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 8px;
  right: 95px;
}
.header__login .select-arrow path {
  fill: white;
}
.header__login .language-icon {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 7px;
  left: 10px;
}
.header__login .language-icon path {
  fill: white;
}
.header__login .login-btn {
  width: 70px;
  height: 30px;
  background-color: rgb(229, 9, 20);
  border: none;
  color: white;
  border-radius: 4px;
  font-size: 14px;
  margin-left: 8px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.header__login .login-btn:hover {
  background-color: rgb(200, 9, 20);
}
.header__section h1, .header__section p {
  color: white;
}
.header__section-container {
  position: absolute;
  width: 550px;
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}
.header__section-container h1 {
  font-size: 54px;
  font-weight: 700;
  margin-bottom: 20px;
}
.header__section-container p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}
.header__section-container .des1 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 32px;
}
.header__section-container .des2 {
  font-size: 16px;
  margin-bottom: 15px;
  line-height: 25px;
}
.header__section-form {
  display: flex;
  position: relative;
}
.header__section-input {
  width: 395px;
  height: 50px;
  padding: 0px 16px 0px;
  box-sizing: border-box;
  background-color: rgb(23, 23, 23);
  border-style: solid;
  border-width: 1px;
  border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-radius: 4px;
  color: white;
  opacity: 0.8;
  font-size: 14px;
}
.header__section-input::-moz-placeholder {
  color: rgb(221, 221, 221);
}
.header__section-input::placeholder {
  color: rgb(221, 221, 221);
}
.header__section-btn {
  margin-left: 7px;
  width: 155px;
  height: 50px;
  border: none;
  border-radius: 4px;
  background-color: #e50914;
  color: white;
  font-size: 22px;
  box-sizing: border-box;
  padding-right: 45px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.header__section-btn:hover {
  background-color: rgb(200, 9, 20);
}
.header__section .right-arrow {
  position: absolute;
  top: 14px;
  right: 23px;
  width: 23px;
  height: 23px;
}
.header__section .right-arrow path {
  fill: white;
}

.main {
  height: 2260px;
  background-color: black;
  color: white;
  padding: 0 148px;
}
.main .popular-list-container {
  width: 100%;
  padding-top: 40px;
  position: relative;
}
.main .popular-list-container li {
  width: 167px;
  height: 239px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-shrink: 0;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .popular-list-container li:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  cursor: pointer;
}
.main .popular-list-container .popular-list {
  display: flex;
  overflow-x: hidden;
  gap: 38px;
  padding: 20px;
}
.main .popular-list-container .first-item {
  background-image: url("../images/picture-1.jpg");
  position: relative;
}
.main .popular-list-container .first-item .number-1 {
  line-height: 1;
  display: inline-block;
  height: 1em;
  font-weight: 700;
  color: rgb(65, 65, 65);
  -webkit-text-stroke: 0.25rem rgb(255, 255, 255);
  text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 25%;
  left: 5px;
  transform: translate(-50%, 50%);
  font-size: 5.5rem;
}
.main .popular-list-container .first-item .number-1::before {
  content: attr(data-content);
  -webkit-text-fill-color: rgb(0, 0, 0);
  -webkit-text-stroke: 0;
  position: absolute;
}
.main .popular-list-container .second-item {
  background-image: url("../images/picture-2.jpg");
  position: relative;
}
.main .popular-list-container .second-item .number-2 {
  line-height: 1;
  display: inline-block;
  height: 1em;
  font-weight: 700;
  color: rgb(65, 65, 65);
  -webkit-text-stroke: 0.25rem rgb(255, 255, 255);
  text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 25%;
  left: 5px;
  transform: translate(-50%, 50%);
  font-size: 5.5rem;
}
.main .popular-list-container .second-item .number-2::before {
  content: attr(data-content);
  -webkit-text-fill-color: rgb(0, 0, 0);
  -webkit-text-stroke: 0;
  position: absolute;
}
.main .popular-list-container .third-item {
  background-image: url("../images/picture-3.jpg");
  position: relative;
}
.main .popular-list-container .third-item .number-3 {
  line-height: 1;
  display: inline-block;
  height: 1em;
  font-weight: 700;
  color: rgb(65, 65, 65);
  -webkit-text-stroke: 0.25rem rgb(255, 255, 255);
  text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 25%;
  left: 5px;
  transform: translate(-50%, 50%);
  font-size: 5.5rem;
}
.main .popular-list-container .third-item .number-3::before {
  content: attr(data-content);
  -webkit-text-fill-color: rgb(0, 0, 0);
  -webkit-text-stroke: 0;
  position: absolute;
}
.main .popular-list-container .fourth-item {
  background-image: url("../images/picture-4.jpg");
  position: relative;
}
.main .popular-list-container .fourth-item .number-4 {
  line-height: 1;
  display: inline-block;
  height: 1em;
  font-weight: 700;
  color: rgb(65, 65, 65);
  -webkit-text-stroke: 0.25rem rgb(255, 255, 255);
  text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 25%;
  left: 5px;
  transform: translate(-50%, 50%);
  font-size: 5.5rem;
}
.main .popular-list-container .fourth-item .number-4::before {
  content: attr(data-content);
  -webkit-text-fill-color: rgb(0, 0, 0);
  -webkit-text-stroke: 0;
  position: absolute;
}
.main .popular-list-container .fifth-item {
  background-image: url("../images/picture-5.jpg");
  position: relative;
}
.main .popular-list-container .fifth-item .number-5 {
  line-height: 1;
  display: inline-block;
  height: 1em;
  font-weight: 700;
  color: rgb(65, 65, 65);
  -webkit-text-stroke: 0.25rem rgb(255, 255, 255);
  text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 25%;
  left: 5px;
  transform: translate(-50%, 50%);
  font-size: 5.5rem;
}
.main .popular-list-container .fifth-item .number-5::before {
  content: attr(data-content);
  -webkit-text-fill-color: rgb(0, 0, 0);
  -webkit-text-stroke: 0;
  position: absolute;
}
.main .popular-list-container .sixth-item {
  background-image: url("../images/picture-6.jpg");
  position: relative;
}
.main .popular-list-container .sixth-item .number-6 {
  line-height: 1;
  display: inline-block;
  height: 1em;
  font-weight: 700;
  color: rgb(65, 65, 65);
  -webkit-text-stroke: 0.25rem rgb(255, 255, 255);
  text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 25%;
  left: 5px;
  transform: translate(-50%, 50%);
  font-size: 5.5rem;
}
.main .popular-list-container .sixth-item .number-6::before {
  content: attr(data-content);
  -webkit-text-fill-color: rgb(0, 0, 0);
  -webkit-text-stroke: 0;
  position: absolute;
}
.main .popular-list-container .seventh-item {
  background-image: url("../images/picture-7.jpg");
  position: relative;
}
.main .popular-list-container .seventh-item .number-7 {
  line-height: 1;
  display: inline-block;
  height: 1em;
  font-weight: 700;
  color: rgb(65, 65, 65);
  -webkit-text-stroke: 0.25rem rgb(255, 255, 255);
  text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 25%;
  left: 5px;
  transform: translate(-50%, 50%);
  font-size: 5.5rem;
}
.main .popular-list-container .seventh-item .number-7::before {
  content: attr(data-content);
  -webkit-text-fill-color: rgb(0, 0, 0);
  -webkit-text-stroke: 0;
  position: absolute;
}
.main .popular-list-container .eighth-item {
  background-image: url("../images/picture-8.jpg");
  position: relative;
}
.main .popular-list-container .eighth-item .number-8 {
  line-height: 1;
  display: inline-block;
  height: 1em;
  font-weight: 700;
  color: rgb(65, 65, 65);
  -webkit-text-stroke: 0.25rem rgb(255, 255, 255);
  text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 25%;
  left: 5px;
  transform: translate(-50%, 50%);
  font-size: 5.5rem;
}
.main .popular-list-container .eighth-item .number-8::before {
  content: attr(data-content);
  -webkit-text-fill-color: rgb(0, 0, 0);
  -webkit-text-stroke: 0;
  position: absolute;
}
.main .popular-list-container .ninth-item {
  background-image: url("../images/picture-9.jpg");
  position: relative;
}
.main .popular-list-container .ninth-item .number-9 {
  line-height: 1;
  display: inline-block;
  height: 1em;
  font-weight: 700;
  color: rgb(65, 65, 65);
  -webkit-text-stroke: 0.25rem rgb(255, 255, 255);
  text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 25%;
  left: 5px;
  transform: translate(-50%, 50%);
  font-size: 5.5rem;
}
.main .popular-list-container .ninth-item .number-9::before {
  content: attr(data-content);
  -webkit-text-fill-color: rgb(0, 0, 0);
  -webkit-text-stroke: 0;
  position: absolute;
}
.main .popular-list-container .tenth-item {
  background-image: url("../images/picture-10.jpg");
  position: relative;
}
.main .popular-list-container .tenth-item .number-10 {
  line-height: 1;
  display: inline-block;
  height: 1em;
  font-weight: 700;
  color: rgb(65, 65, 65);
  -webkit-text-stroke: 0.25rem rgb(255, 255, 255);
  text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 25%;
  left: 5px;
  transform: translate(-50%, 50%);
  font-size: 5.5rem;
}
.main .popular-list-container .tenth-item .number-10::before {
  content: attr(data-content);
  -webkit-text-fill-color: rgb(0, 0, 0);
  -webkit-text-stroke: 0;
  position: absolute;
}
.main .popular-list-container .popular-list-title {
  font-size: 22px;
  font-weight: 700;
}
.main .popular-list-container .slider-btn {
  width: 22px;
  height: 120px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  cursor: pointer;
  position: absolute;
  right: -35px;
  top: 41%;
}
.main .popular-list-container .slider-btn .slider-arrow {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main .popular-list-container .slider-btn .slider-arrow path {
  fill: rgb(174, 174, 174);
}
.main .popular-list-container .slider-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.main .reasons-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.main .reasons-container .reasons-title {
  font-size: 22px;
  font-weight: 600;
  margin-top: 45px;
  margin-bottom: 15px;
}
.main .reasons-container .reasons-list {
  display: flex;
  gap: 15px;
}
.main .reasons-container .reasons-list .reason-block {
  width: 340px;
  height: 330px;
  padding: 15px;
  border-radius: 15px;
  background: radial-gradient(circle at 90% 100%, rgba(255, 0, 80, 0.25) 0%, transparent 50%), linear-gradient(180deg, #1b0036 0%, #0d0d0d 100%);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
}
.main .reasons-container .reasons-list .first-block {
  position: relative;
}
.main .reasons-container .reasons-list .first-block-title {
  font-size: 20px;
  font-weight: 600;
  color: white;
  margin-top: 10px;
}
.main .reasons-container .reasons-list .first-block-desc {
  padding-right: 25px;
  margin-top: 18px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
  line-height: 20px;
}
.main .reasons-container .reasons-list .first-block .computer-icon {
  position: absolute;
  right: 10px;
  bottom: 13px;
}
.main .reasons-container .reasons-list .second-block {
  box-sizing: border-box;
  position: relative;
}
.main .reasons-container .reasons-list .second-block-title {
  font-size: 20px;
  font-weight: 600;
  color: white;
  margin-top: 10px;
}
.main .reasons-container .reasons-list .second-block-desc {
  padding-right: 25px;
  margin-top: 18px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
  line-height: 20px;
}
.main .reasons-container .reasons-list .second-block .arrow_down-icon {
  position: absolute;
  right: 10px;
  bottom: 13px;
}
.main .reasons-container .reasons-list .third-block {
  position: relative;
}
.main .reasons-container .reasons-list .third-block-title {
  font-size: 20px;
  font-weight: 600;
  color: white;
  margin-top: 10px;
}
.main .reasons-container .reasons-list .third-block-desc {
  margin-top: 18px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
  line-height: 20px;
}
.main .reasons-container .reasons-list .third-block .telescope-icon {
  position: absolute;
  right: 10px;
  bottom: 13px;
}
.main .reasons-container .reasons-list .fourth-block {
  position: relative;
}
.main .reasons-container .reasons-list .fourth-block-title {
  font-size: 20px;
  font-weight: 600;
  color: white;
  margin-top: 10px;
}
.main .reasons-container .reasons-list .fourth-block-desc {
  margin-top: 18px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
  line-height: 20px;
}
.main .reasons-container .reasons-list .fourth-block .faces-icon {
  position: absolute;
  right: 10px;
  bottom: 13px;
}/*# sourceMappingURL=main.css.map */