body, h1,h2, p {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.header{
  & svg {
  width : 150px;
  height : 37px;
  path{
    fill: #e50914;
    }
  
  }
  &__container{
    box-sizing: border-box;
    width: 100%;
    height: 120px;
    padding: 20px 148px 0 125px;
    display: flex;
    justify-content: space-between;
    align-items: top;
    position: absolute;
    z-index: 2;
  }
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url("../images/netflixBackground.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &::after{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }
  &__login{
    position: relative;
    & .language-btn{
      width: 140px;
      height: 30px;
      box-sizing: border-box;
      padding-left: 30px;
      padding-top: 2px;
      background-color: rgb(19, 17, 17);
      color: white;
      border-radius: 4px;
      border-width: 1px;
      font-size: 14px;
      appearance: none;
      
    }
    & .select-arrow {
      width : 15px;
      height : 15px;
      path{
        fill: white
      }
      position: absolute;
      top: 8px;
      right: 95px;
    }
    & .language-icon{
      width : 15px;
      height : 15px;
      path{
        fill: white
      }
      position: absolute;
      top: 7px;
      left: 10px;
    }
    & .login-btn{
      width: 70px;
      height: 30px;
      background-color: rgb(229,9,20);
      border: none;
      color: white;
      border-radius: 4px;
      font-size: 14px;
      margin-left: 8px;
      transition: background-color 0.3s ease;
      cursor: pointer;
    }
    & .login-btn:hover{
      background-color: rgb(200, 9, 20);
    }
  }
  &__section{
    & h1, p{
      color:white
    }
    &-container{
      position: absolute;
      width: 550px;
      height: 210px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      top: 52%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      z-index: 2;
      & h1{
        font-size: 54px;
        font-weight: 700;
        margin-bottom: 20px;
      }
      & p{
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: normal;
      }
      & .des1{
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 32px;
      }
      & .des2{
        font-size: 16px;
        margin-bottom: 15px;
        line-height: 25px;
      }
    }
    &-form{
      display: flex;
      position: relative;
    }
    &-input{
      width: 395px;
      height: 50px;
      padding: 0px 16px 0px;
      box-sizing: border-box;
      background-color: rgb(23, 23, 23);
      border-style: solid;
      border-width: 1px;
      border-color:light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
      border-radius: 4px;
      color: white;
      opacity: 0.8;
      font-size: 14px;
    }
    &-input::placeholder{
      color: rgb(221, 221, 221);
    }
    &-btn{
      margin-left: 7px;
      width: 155px;
      height: 50px;
      border: none;
      border-radius: 4px;
      background-color: #e50914;
      color: white;
      font-size: 22px;
      box-sizing: border-box;
      padding-right: 45px;
      transition: background-color 0.3s ease;
      cursor: pointer;
    }
    &-btn:hover{
      background-color: rgb(200, 9, 20);
    }
    .right-arrow{
      position: absolute;
      top: 26%;
      right: 4%;
      path{
        fill:white
      }
      width: 23px;
      height: 23px;
    } 
  }
}

.main{
  height: 2160px;
  background-color: black;
  color: white;
  padding: 0 148px;
  .popular-list-container{
    width: 100%;
    padding-top: 40px;
    position: relative;
    li{
      width: 167px;
      height: 239px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      flex-shrink: 0;
      border-radius: 8px;
      object-fit: cover;
    }
    li:hover{
      transform: scale(1.05);
      transition: transform 0.3s ease;
      cursor: pointer;
    }
    .popular-list{
      display: flex;
      overflow-x: hidden;
      gap: 38px;
      padding: 20px;
    }
    .first-item{
      background-image: url("../images/picture-1.jpg");
      position: relative;
      .number-1{
        line-height: 1;
        display: inline-block;
        height: 1em;
        font-weight: 700;
        color: rgb(65, 65, 65);
        -webkit-text-stroke: 0.25rem rgb(255, 255, 255);
        text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
        position: absolute;
        bottom: 25%;
        left: 5px;
        transform: translate(-50%, 50%);
        font-size: 5.5rem;
      }
      .number-1::before{
        content: attr(data-content);
        -webkit-text-fill-color: rgb(0, 0, 0);
        -webkit-text-stroke: 0;
        position: absolute;
      }
    }
    .second-item{
      background-image: url("../images/picture-2.jpg");
      position: relative;
      .number-2{
        line-height: 1;
        display: inline-block;
        height: 1em;
        font-weight: 700;
        color: rgb(65, 65, 65);
        -webkit-text-stroke: 0.25rem rgb(255, 255, 255);
        text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
        position: absolute;
        bottom: 25%;
        left: 5px;
        transform: translate(-50%, 50%);
        font-size: 5.5rem;
      }
      .number-2::before{
        content: attr(data-content);
        -webkit-text-fill-color: rgb(0, 0, 0);
        -webkit-text-stroke: 0;
        position: absolute;
      }
    }
    .third-item{
      background-image: url("../images/picture-3.jpg");
      position: relative;
      .number-3{
        line-height: 1;
        display: inline-block;
        height: 1em;
        font-weight: 700;
        color: rgb(65, 65, 65);
        -webkit-text-stroke: 0.25rem rgb(255, 255, 255);
        text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
        position: absolute;
        bottom: 25%;
        left: 5px;
        transform: translate(-50%, 50%);
        font-size: 5.5rem;
      }
      .number-3::before{
        content: attr(data-content);
        -webkit-text-fill-color: rgb(0, 0, 0);
        -webkit-text-stroke: 0;
        position: absolute;
      }
    }
    .fourth-item{
      background-image: url("../images/picture-4.jpg");
      position: relative;
      .number-4{
        line-height: 1;
        display: inline-block;
        height: 1em;
        font-weight: 700;
        color: rgb(65, 65, 65);
        -webkit-text-stroke: 0.25rem rgb(255, 255, 255);
        text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
        position: absolute;
        bottom: 25%;
        left: 5px;
        transform: translate(-50%, 50%);
        font-size: 5.5rem;
      }
      .number-4::before{
        content: attr(data-content);
        -webkit-text-fill-color: rgb(0, 0, 0);
        -webkit-text-stroke: 0;
        position: absolute;
      }
    }
    .fifth-item{
      background-image: url("../images/picture-5.jpg");
      position: relative;
      .number-5{
        line-height: 1;
        display: inline-block;
        height: 1em;
        font-weight: 700;
        color: rgb(65, 65, 65);
        -webkit-text-stroke: 0.25rem rgb(255, 255, 255);
        text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
        position: absolute;
        bottom: 25%;
        left: 5px;
        transform: translate(-50%, 50%);
        font-size: 5.5rem;
      }
      .number-5::before{
        content: attr(data-content);
        -webkit-text-fill-color: rgb(0, 0, 0);
        -webkit-text-stroke: 0;
        position: absolute;
      }
    }
    .sixth-item{
      background-image: url("../images/picture-6.jpg");
      position: relative;
      .number-6{
        line-height: 1;
        display: inline-block;
        height: 1em;
        font-weight: 700;
        color: rgb(65, 65, 65);
        -webkit-text-stroke: 0.25rem rgb(255, 255, 255);
        text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
        position: absolute;
        bottom: 25%;
        left: 5px;
        transform: translate(-50%, 50%);
        font-size: 5.5rem;
      }
      .number-6::before{
        content: attr(data-content);
        -webkit-text-fill-color: rgb(0, 0, 0);
        -webkit-text-stroke: 0;
        position: absolute;
      }

    }
    .seventh-item{
      background-image: url("../images/picture-7.jpg");
      position: relative;
        .number-7{
        line-height: 1;
        display: inline-block;
        height: 1em;
        font-weight: 700;
        color: rgb(65, 65, 65);
        -webkit-text-stroke: 0.25rem rgb(255, 255, 255);
        text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
        position: absolute;
        bottom: 25%;
        left: 5px;
        transform: translate(-50%, 50%);
        font-size: 5.5rem;
      }
      .number-7::before{
        content: attr(data-content);
        -webkit-text-fill-color: rgb(0, 0, 0);
        -webkit-text-stroke: 0;
        position: absolute;
      }
    }
    .eighth-item{
      background-image: url("../images/picture-8.jpg");
      position: relative;
        .number-8{
        line-height: 1;
        display: inline-block;
        height: 1em;
        font-weight: 700;
        color: rgb(65, 65, 65);
        -webkit-text-stroke: 0.25rem rgb(255, 255, 255);
        text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
        position: absolute;
        bottom: 25%;
        left: 5px;
        transform: translate(-50%, 50%);
        font-size: 5.5rem;
      }
      .number-8::before{
        content: attr(data-content);
        -webkit-text-fill-color: rgb(0, 0, 0);
        -webkit-text-stroke: 0;
        position: absolute;
      }
    }
    .ninth-item{
      background-image: url("../images/picture-9.jpg");
      position: relative;
      .number-9{
        line-height: 1;
        display: inline-block;
        height: 1em;
        font-weight: 700;
        color: rgb(65, 65, 65);
        -webkit-text-stroke: 0.25rem rgb(255, 255, 255);
        text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
        position: absolute;
        bottom: 25%;
        left: 5px;
        transform: translate(-50%, 50%);
        font-size: 5.5rem;
      }
      .number-9::before{
        content: attr(data-content);
        -webkit-text-fill-color: rgb(0, 0, 0);
        -webkit-text-stroke: 0;
        position: absolute;
      }
    }
    .tenth-item{
      background-image: url("../images/picture-10.jpg");
      position: relative;
        .number-10{
        line-height: 1;
        display: inline-block;
        height: 1em;
        font-weight: 700;
        color: rgb(65, 65, 65);
        -webkit-text-stroke: 0.25rem rgb(255, 255, 255);
        text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
        position: absolute;
        bottom: 25%;
        left: 5px;
        transform: translate(-50%, 50%);
        font-size: 5.5rem;
      }
      .number-10::before{
        content: attr(data-content);
        -webkit-text-fill-color: rgb(0, 0, 0);
        -webkit-text-stroke: 0;
        position: absolute;
      }
    }
    .popular-list-title{
      font-size: 22px;
      font-weight: 700;
    }

    .slider-btn{
      width: 22px;
      height: 120px;
      border-radius: 8px;
      background-color: rgba(255, 255, 255, 0.1);
      border: none;
      cursor: pointer;
      position: absolute;
      right: -35px;
      top: 41%;
      .slider-arrow{
        width: 22px;
        height: 22px;
        path{
          fill: rgb(174, 174, 174);
        }
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .slider-btn:hover{
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
  .reasons-container{
    display: flex;
    flex-direction: column;
    .reasons-title{
      font-size: 22px;
      font-weight: 600;
      margin-top: 45px;
      margin-bottom: 15px;
    }
    .reasons-list{
      display: flex;
      gap: 15px;
      .reason-block{
        width: 340px;
        height: 330px;
        padding: 15px;
        border-radius: 15px;
        background: 
          radial-gradient(circle at 90% 100%, rgba(255, 0, 80, 0.25) 0%, transparent 50%),
          linear-gradient(180deg, #1b0036 0%, #0d0d0d 100%);
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
        box-sizing: border-box;
      }
      .first-block{
        position: relative;
        &-title{
          font-size: 20px;
          font-weight: 600;
          color: white;
          margin-top: 10px;
        }
        &-desc{
          padding-right: 25px;
          margin-top: 18px;
          color: rgba(255,255,255,0.7);
          font-size: 15px;
          line-height: 20px;
        }
        .computer-icon{
          position: absolute;
          right: 10px;
          bottom: 13px;
        }
      }
      .second-block{
        box-sizing: border-box;
        position: relative;
        &-title{
          font-size: 20px;
          font-weight: 600;
          color: white;
          margin-top: 10px;
        }
        &-desc{
          padding-right: 25px;
          margin-top: 18px;
          color: rgba(255,255,255,0.7);
          font-size: 15px;
          line-height: 20px;
        }
        .arrow_down-icon{
          position: absolute;
          right: 10px;
          bottom: 13px;
        }
      }
      .third-block{
        position: relative;
        &-title{
          font-size: 20px;
          font-weight: 600;
          color: white;
          margin-top: 10px;
        }
        &-desc{
          margin-top: 18px;
          color: rgba(255,255,255,0.7);
          font-size: 15px;
          line-height: 20px;
        }
        .telescope-icon{
          position: absolute;
          right: 10px;
          bottom: 13px;
        }
      }
      .fourth-block{
        position: relative;
        &-title{
          font-size: 20px;
          font-weight: 600;
          color: white;
          margin-top: 10px;
        }
        &-desc{
          margin-top: 18px;
          color: rgba(255,255,255,0.7);
          font-size: 15px;
          line-height: 20px;
        }
        .faces-icon{
          position: absolute;
          right: 10px;
          bottom: 13px;
        }
      }
    }
  }
  .question-list-container{
    margin-top: 65px;
    .question-list-title{
      font-size: 22px;
      margin-bottom: 15px;
    }
    .question-list{
      display: flex;
      flex-direction: column;
      gap: 7px;
      &-item{
        width: 100%;
        height: 75px;
        background-color: rgba(72, 72, 72, 0.632);
        transition: background-color 0.3s ease;
        position: relative;
        display: flex;
        align-items: center;
        padding: 0 15px;
        svg{
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);
          width: 32px;
          height: 32px;
        }
      }
      &-item:hover{
        background-color: rgba(72, 72, 72, 0.8);
        cursor: pointer;
      }
      .question-btn{
        background-color: transparent;
        border: none;
        color: rgba(255, 255, 255, 0.859);
        font-size: 20px;
      }
    }
  }
  .repeated-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 80px;
    .repeated-section-title{
      font-size: 14.5px;
    }
    &-form{
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      width: 100%;
      .repeated-form-input{
       width: 560px;
      }
      .repeated-btn{
        position: relative;
      }
      .right-arrow-f{
      position: absolute;
      right: 15%;
      path{
        fill:white
      }
      width: 23px;
      height: 23px;
    }
    }  
  }
  .footer{
    margin-top: 65px;
    a{
      color: inherit;
    }

    &__container{
      color:rgba(255,255,255,0.7);
      .footer-title{
        font-size: 14px;
        margin-bottom: 45px;
      }
      .footer__links-container{
        display: flex;
        gap: 125px;
        align-items: start;
        .footer__links{
          a{
            text-decoration: none;
          }
          display: flex;
          flex-direction: column;
          gap: 16px;
          font-size: 12.5px;
          .footer__link4{
            align-self: flex-end;
          }
        }
        margin-bottom: 50px;
      }
      .footer-btn{
        position: relative;
        .language-btn{
          width: 135px;
          height: 28px;
          box-sizing: border-box;
          padding-left: 30px;
          padding-top: 3px;
          background-color: rgb(19, 17, 17);
          color: white;
          border-radius: 4px;
          border-width: 1px;
          font-size: 14px;
          appearance: none;
        }
        .language-icon-footer{
          width : 15px;
          height : 15px;
          path{
            fill: white
          }
          position: absolute;
          top: 6px;
          left: 10px;
        }
        .select-arrow-footer{
          width : 15px;
          height : 15px;
          path{
            fill: white
          }
          position: absolute;
          top: 8px;
          left: 108px;
        }
      }
      .sub-title{
        font-size: 13px;
        margin-top: 37px;
      }
      .additional-info{
        font-size: 12px;
        margin-top: 37px;
        color: rgba(255, 255, 255, 0.5);
        .more-details{
          color: #448af4;
        }
      }
    }
  }
}
/* Для телефонів */
@media (max-width: 576px) {
  .header{
    & svg {
      width : 113px;
      height : 23px;
    }
    height: 79vh;
  }
  .header__container{
    padding: 30px 12px 0 12px;
  }
  .language-btn{
    .text{
      display: none !important;
    }
  }
  .header__section-container{
    top: 50%;
    width: 100%;
  
      & h1{
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 10px;
        width: 400px;
      }
      & p{
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: normal;
      }
      & .des1{
        width: 85%;
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 20px;
      }
      & .des2{
        width: 85%;
        font-size: 15px;
        margin-bottom: 15px;
        line-height: 25px;
      }
      .header__section-form{
        flex-direction: column;
        width: 100%;
        align-items: center;
      }
      .header__section-input{
        width: 89%;
        height: 50px;
        padding: 0px 16px 0px;
        box-sizing: border-box;
        background-color: rgb(23, 23, 23);
        border-style: solid;
        border-width: 1px;
        border-color:light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
        border-radius: 4px;
        color: white;
        opacity: 0.8;
        font-size: 14px;
        margin-bottom: 18px;
      }
      .header__section-btn{
        position: relative;
        font-size: 18px;
        width: 120px;
      }
      .right-arrow{
        right: 13%;
      }
  }
  .main{
    padding: 0 22px;
    height: 3000px;
    .popular-list-container{
      padding-top: 30px;
      width: 90%;
      .popular-list-title{
        font-size: 16px;
        margin-left: 6px;
      }
      li{
        width: 112px;
        height: 152px;
      }
      .popular-list{
        gap: 20px;
        padding: 15px;
      }
      .slider-btn{
        width: 22px;
        height: 110px;
        border-radius: 7px;
        right: -35px;
        top: 37%;
      }
      .first-item{
        .number-1{
          font-size: 4rem;
        }
      }
      .second-item{
        .number-2{
          font-size: 4rem;
        }
      }
      .third-item{
        .number-3{
          font-size: 4rem;
        }
      }
      .fourth-item{
        .number-4{
          font-size: 4rem;
        }
      }
      .fifth-item{
        .number-5{
          font-size: 4rem;
        }
      }
      .sixth-item{
        .number-6{
          font-size: 4rem;
        }
      }
      .seventh-item{
        .number-7{
          font-size: 4rem;
        }
      }
      .eighth-item{
        .number-8{
          font-size: 4rem;
        }
      }
      .ninth-item{
        .number-9{
          font-size: 4rem;
        }
      }
      .tenth-item{
        .number-10{
          font-size: 4rem;
        }
      }
    }
    .reasons-container{
      .reasons-list{
        flex-direction: column;
        .reason-block{
          width: 100%;
          height: 180px;
        }
        .first-block{
          .computer-icon{
            width: 50px;
            height: 50px;
          }
        }
        .second-block{
          .arrow_down-icon{
            width: 50px;
            height: 50px;
          }
        }
        .third-block{
          .telescope-icon{
            width: 50px;
            height: 50px;
          }
        }
        .fourth-block{
          .faces-icon{
            width: 50px;
            height: 50px;
          }
        }
      }
    }
      .question-list-container{
        margin-top: 65px;
      .question-list-title{
        font-size: 16px;
        margin-bottom: 15px;
      }
      .question-list{
        display: flex;
        flex-direction: column;
        gap: 7px;
        &-item{
          width: 94%;
          height: 65px;
          background-color: rgba(72, 72, 72, 0.632);
          transition: background-color 0.3s ease;
          position: relative;
          display: flex;
          align-items: center;
          padding: 0 15px;
          svg{
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
          }
        }
        &-item:hover{
          background-color: rgba(72, 72, 72, 0.8);
          cursor: pointer;
        }
        .question-btn{
          background-color: transparent;
          border: none;
          color: rgba(255, 255, 255, 0.859);
          font-size: 16px;
        }
      }
    }
    .repeated-section{
      .repeated-section-title{
        font-size: 15px;
        line-height: 25px;
      }
      &-form{
        flex-direction: column;
        align-items: start;
        gap: 18px;
        .repeated-form-input{
          width: 100% !important;
        }
        .right-arrow-f{
          right: 13%;
          top: 50%;
          transform: translateY(-50%);
        }
        .repeated-btn{
          margin-left: 0;
          font-size: 18px;
          width: 125px;
        }
      }
    }
    .footer__links-container{
      display:contents !important;

      .footer__links{
        a{
          text-decoration:underline !important; 
        }
        font-size: 15px !important;
        margin-bottom: 20px;
      }
    }
    .footer-btn{
      margin-top: 70px;
      .language-btn{
        width: 150px !important;
        height: 34px !important;
        padding-left: 35px !important;
      }
      .language-icon-footer{
        width: 17px !important;
        height: 17px !important;
        top: 9px !important;
      }
      .select-arrow-footer{
        width: 17px !important;
        height: 17px !important;
        top: 9px !important;
        left: 117px !important;
      }
    }
    .sub-title{
      font-size: 15px !important;
      margin-top: 40px !important;
    }
    .additional-info{
      font-size: 13px;
      line-height: 20px;
    }
  }
}


@media (min-width: 577px) and (max-width: 991px) {
  .header{
    & svg {
      width : 113px;
      height : 23px;
    }
    height: 79vh;
  }
  .header__container{
    padding: 30px 22px 0 22px;
  }
  .header__section-container{
    top: 50%;
    width: 380px;
  
      & h1{
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 10px;
      }
      & p{
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: normal;
      }
      & .des1{
        font-size: 13px;
        font-weight: 600;
        margin-bottom: 20px;
      }
      & .des2{
        font-size: 14px;
        margin-bottom: 15px;
        line-height: 20px;
      }
      .header__section-input{
        width: 265px;
        height: 50px;
        padding: 0px 16px 0px;
        box-sizing: border-box;
        background-color: rgb(23, 23, 23);
        border-style: solid;
        border-width: 1px;
        border-color:light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
        border-radius: 4px;
        color: white;
        opacity: 0.8;
        font-size: 14px;
      }
      .header__section-btn{
        font-size: 17px;
        width: 135px;
      }
      .right-arrow {
        right: 5%;
      }
  }
  .main{
    padding: 0 32px;
    height: 2260px;
    .popular-list-container{
      padding-top: 30px;
      width: 97%;
      .popular-list-title{
        font-size: 16px;
        margin-left: 6px;
      }
      li{
        width: 100px;
        height: 140px;
      }
      .popular-list{
        gap: 20px;
        padding: 15px;
      }
      .slider-btn{
        width: 22px;
        height: 110px;
        border-radius: 6px;
        right: -30px;
        top: 37%;
      }
      .first-item{
        .number-1{
          font-size: 3.5rem;
        }
      }
      .second-item{
        .number-2{
          font-size: 3.5rem;
        }
      }
      .third-item{
        .number-3{
          font-size: 3.5rem;
        }
      }
      .fourth-item{
        .number-4{
          font-size: 3.5rem;
        }
      }
      .fifth-item{
        .number-5{
          font-size: 3.5rem;
        }
      }
      .sixth-item{
        .number-6{
          font-size: 3.5rem;
        }
      }
      .seventh-item{
        .number-7{
          font-size: 3.5rem;
        }
      }
      .eighth-item{
        .number-8{
          font-size: 3.5rem;
        }
      }
      .ninth-item{
        .number-9{
          font-size: 3.5rem;
        }
      }
      .tenth-item{
        .number-10{
          font-size: 3.5rem;
        }
      }
    }
  }
  .reasons-list{
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
    grid-template-rows: repeat(2, 1fr) !important;
    .reason-block{
      width: 100% !important;
      height: 210px !important;
    }
  }
  .question-list-container{
    margin-top: 65px;
    .question-list-title{
      font-size: 22px;
      margin-bottom: 15px;
    }
    .question-list{
      display: flex;
      flex-direction: column;
      gap: 7px;
      &-item{
        width: 96% !important;
        height: 75px;
        background-color: rgba(72, 72, 72, 0.632);
        transition: background-color 0.3s ease;
        position: relative;
        display: flex;
        align-items: center;
        padding: 0 10px !important;
        svg{
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);
          width: 28px;
          height: 28px;
        }
      }
      &-item:hover{
        background-color: rgba(72, 72, 72, 0.8);
        cursor: pointer;
      }
      .question-btn{
        background-color: transparent;
        border: none;
        color: rgba(255, 255, 255, 0.859);
        font-size: 18px ;
      }
    }
  }
  .repeated-section{
    .repeated-section-title{
      font-size: 14px;
      line-height: 25px;
    }
    &-form{
      .repeated-form-input{
        width: 100% !important;
      }
      .right-arrow-f{
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
      }
      .repeated-btn{
        font-size: 18px;
      }
    }
  }
  .footer__links-container{
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
    grid-template-rows: repeat(2, 1fr) !important;
    gap: 14px !important;
    .footer__links{
      font-size: 15px !important;
    }
  }
}
